#create_account_div {
	position: fixed;
	top: 0%; left: 0%;
	width: 100%; height: 100%;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	z-index: 2;
	display: none;
}

#create_account_div div {
	border-radius: 2em;
	padding: 3em;
	text-align: left;
	position: absolute;
	top: 5%; left: 8.5%;
	width: 75%;
	height: 75%;
	z-index: 2;
	overflow: auto;
	background: #f0f9ff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#create_account_table {
	width: 60%;
	margin: 0 auto 0 auto;
}

#create_account_table td {
	padding: 1em;
	vertical-align: center;
}

#create_account_table caption {
	padding: .2em 0 .5em 0;
	font-weight: bold;
	font-size: 3em;
	text-shadow: .1em .1em .15em #626264;
}

#create_account_table label, #create_account_table input {
	font-size: 1.3em;
	font-weight: bold;
}

#create_account_table input {
	width: 100%;
}

#create_account_submit {
	color: #610B21;
	font-weight: bold;
	text-decoration: none;
	border-radius: 1em;
	padding: .5em 1em .4em 1em;
	border: 2px solid #610B21;
	background: none;
}

#create_account_submit:hover {
	background: white;
}

#no_user, #no_password, #no_pass_match, #no_day_suggestion, #no_year_suggestion, #no_life_suggestion {
	color: #B30309;
	padding-top: .5em;
	font-weight: bold;
	display: none;
}

textarea {
	width: 100%;
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}