#my_account_div {
	margin: 5% auto 5% auto;
	width: 90%;
	height: 60%;
	text-align: center;
	vertical-align: center;
	display: none;
}

#my_account_tabs {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	margin: 1em auto 1em auto;
	color: #610B21;
}

#my_account_tabs a {
	text-decoration: none;
	color: #610B21;
}

#my_account_tabs a:hover {
	text-decoration: underline;
	color: #610B21;
}

#to_do_list_title {
	font-size: 3.5em;
	color: black;
	text-shadow: .1em .1em .15em #626264;
}

#my_account_user_id {
	font-size: 2.5em;
	color: black;
	text-align: center;
}

#my_account_content {
	height: 27em;
	overflow: auto;
}

.todoTable {
	margin: 2em auto 1em auto;
	text-align: left;
	max-width: 70%;
}

.todoTable td {
	font-size: 1em;
	vertical-align: center;
	padding: 1.1em;
}

.todoTable th {
	font-weight: bold;
	font-size: 1.5em;
	padding: 1em;
}

.myAccountSuggestion {
	font-size: 1.3em;
	line-height: 150%;
	text-decoration: none;
	width: 100%;
	margin: 0;
	line-height: 150%;
}