html, body {
	width: 100%;
	height: 100%; 
	font-family: verdana, arial, sans-serif;
}

#header_bar div {
	display: none;
	border-radius: .4em;
	background: #A4A4A4;
	margin-top: .5em;
	font-size: .6em;
	padding: .5em;
	width: 20%;
	position: relative;
	left: 79%; top: 0%;
	z-index: 1;
}

#header_bar {
	padding: 0em;
	position: absolute;
	right: 1em; top: 0em;
	z-index: 1;
}

#header td {
	padding: 0em;
	text-align: right;
	margin: 0em;
}

#header_bar {
	font-weight: bold;
	width: 100%;
	font-size: 1.5em;
	text-align: right;
	padding: 1em;
	color: #610B21;
}

a.header {
	color: #610B21;
	text-decoration: none;
}

a.header:hover {
	text-decoration: underline;
}