#suggestion_box {
	border-radius: 3em;
	margin: 9em auto 2em auto;
	padding: 2em 4em 3em 4em;
	width: 40%;
	text-align: left;
	/*background-color: rgba(14,14,144, 1);*/
	/*box-shadow: 5em 5em 5em;*/
}

.suggestionTitle {
	text-transform: uppercase;
	color: black;
	text-shadow: .1em .1em .15em #626264;
}

p.suggestionTitle {
	font-size: 4.2em;
}

a.suggestionTitle {
	margin-left: 1.2em;
	font-weight: bold;
	line-height: 200%;
	font-size: 3.5em;
	text-decoration: none;
}

a.suggestionTitle:hover {
	color: #5C5C5C;
}

p.suggestion {
	margin: 0em 0em 0em 2.5em;
	line-height: 150%;
	font-size: 1.8em;
	text-decoration: none;
}

#day_div, #year_div, #life_div {
	padding: .2em;
}

.upArrow {
	width: 0; 
	height: 0; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1.8em solid #610B21;
	margin: 0em;
}

.downArrow {
	width: 0; 
	height: 0; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-top: 1.8em solid #610B21;
	margin: 0em;
}