#suggestion_box {
	margin: 10% auto 10% auto;
	width: 75%;
	height: 60%;
	text-align: center;
	vertical-align: center;
}

.suggestionTitle {
	text-transform: uppercase;
	color: black;
	text-shadow: .1em .1em .15em #626264;
}

p.suggestionTitle {
	font-size: 4em;
}

a.suggestionTitle {
	font-weight: bold;
	line-height: 200%;
	font-size: 3.5em;
	text-decoration: none;
}

a.suggestionTitle:hover {
	color: #5C5C5C;
}

.suggestionDiv {
	min-height: 20%;
	vertical-align: center;
}

.suggestionDiv table {
	height: 100%;
	width: 100%;
}

p.suggestion {
	font-size: 2.3em;
	line-height: 150%;
	text-decoration: none;
	width: 100%;
	margin: 0;
	line-height: 150%;
}

.suggestionButtons {
	padding: 0 0 0 1em;
	width: 6em;
}

.suggestionButtons td {
	padding: 1.8em;
}

.thumbUp {
	background-image: url(thumbs_up.png);
	background-position: 50% 50%;
	background-size: 70%;
	background-repeat: no-repeat;
}

.thumbUp:hover {
	background-image: url(thumbs_up_hover.png);
}

.thumbDown {
	background-image: url(thumbs_down.png);
	background-position: 50% 50%;
	background-size: 70%;
	background-repeat: no-repeat;
}

.thumbDown:hover {
	background-image: url(thumbs_down_hover.png);
}

.skip {
	background-image: url(skip_arrow.png);
	background-position: 50% 50%;
	background-size: 70%;
	background-repeat: no-repeat;
}

.skip:hover {
	background-image: url(skip_arrow_hover.png);
}

.score {
	padding: 0 1em 0 0;
	width: 6em;
	font-size: 2em;
	font-weight: bold;
}